:root {
  font-size: 62.5%;
  --primaryColor: #202020;
  --secondaryColor: #eeeded;
  --mainGrey: #fafafa;
  --mainWhite: #ffffff;
  --mainBlack: #444444;
  --mainTransition: all 0.5s linear;
  --largeFont: 8rem;
  --mediumFont: 5rem;
  --smallFont: 3rem;
  --mainSpacing: 0.2rem;
  --lineHeight: 1.3;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShodow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* globals */
body {
  padding: 88.24px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--mainWhite);
  overflow-x: hidden;
  color: var(--mainBlack);
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  body {
    padding: 168.73px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--mainWhite);
    overflow-x: hidden;
    color: var(--mainBlack);
    font-size: 1.6rem;
  }
}
/* end of globals */

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  background: var(--mainWhite);
  z-index: 2;
  /* box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849); */
}

.navbar-center {
  max-width: 117rem;
  margin: 0 auto;
}
.first-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: var(--smallFont);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--mainBlack);
  letter-spacing: var(--mainSpacing);
}
.navbar-btn {
  background: none;
  border: solid 0.2rem var(--mainBlack);
  padding: 0.27rem 0.5rem 0rem 0.5rem;
  outline: none;
}
.navbar-btn-icon {
  font-size: 2rem;
}
.navbar-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style: none;
}
.navbar-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 2rem;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  text-align: left;
}
.mobile-nav {
  position: fixed;
  background: var(--mainWhite);
  width: 100%;
  top: 90px;
  left: 0;
  transition: var(--mainTransition);
  transform: translateY(-200%);
  z-index: 1;
  color: var(--mainBlack);
  box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849);
}
.mobile-nav-item {
  padding: 1rem 0;
}
.mobile-nav-links {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 2rem 6rem;
  text-transform: uppercase;
  list-style-type: none;
}
.mobile-nav-links a {
  text-decoration: none;
  color: var(--mainBlack);
  font-weight: bold;
}
.show-nav {
  transform: translateY(0);
}
.navbar-icons {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.navbar-icons a {
  text-decoration: none;
  margin: 0 0 0 2rem;
  color: var(--mainBlack);
}
@media screen and (min-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 2rem;
    background: var(--mainWhite);
    z-index: 2;
    /* box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849); */
  }
  .navbar-btn {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .navbar-center {
    max-width: 117rem;
    margin: 0 auto;
  }
  .navbar-links {
    height: auto;
    display: flex;
  }
  .navbar-links a {
    margin: 0 2rem;
    padding: 0.5rem 0;
    font-weight: bold;
  }
  .navbar-icons {
    display: flex;
    list-style-type: none;
  }
  .navbar-icons a {
    text-decoration: none;
    margin: 0 0 0 2rem;
    color: var(--mainBlack);
  }
  .logo {
    font-size: 4rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--mainBlack);
    letter-spacing: var(--mainSpacing);
  }
}
/* end of navbar */

/* category */
.category {
  position: fixed;
  top: 52.5px;
  width: 100%;
  padding: 1rem 2rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  z-index: 2;
}
.category-center {
  max-width: 117rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.category-div {
  display: flex;
  justify-content: space-between;
  width: 12rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .category {
    background: var(--primaryColor);
    color: var(--mainWhite);
    padding: 1.2rem 2rem;
    top: 123.75px;
    z-index: 2;
  }
  .category-center {
    max-width: 117rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .category-div {
    display: flex;
    justify-content: space-between;
    width: 30rem;
    text-transform: uppercase;
    font-size: 1.6rem;
  }
}
/* end of category */
/* hero */

.defaultHero {
  min-height: calc(100vh - 88.24px);
  background: var(--secondaryColor) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .defaultHero {
    min-height: calc(100vh - 163.75px);
    background: var(--secondaryColor) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
  }
}

/* end of hero */

/* banner */
.banner-center {
  /* max-width: 117rem; */
  padding: 4rem 4rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
  /* display: flex;
  justify-content: space-between; */
}
.left-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}
.right-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0 4rem 0 0; */
}
.grid-text {
  font-size: var(--smallFont);
  border-bottom: solid 0.2rem var(--mainBlack);
  padding: 0 0 2rem 0;
}
.btn-container {
  padding: 4rem 0 0 0;
  display: flex;
  justify-content: center;
}
.btn {
  padding: 0.5rem 2rem;
  border: solid 0.2rem var(--mainBlack);
  margin: 0 1rem;
  text-decoration: none;
  color: var(--mainBlack);
  font-size: 1.2rem;
  background: transparent;
  text-transform: uppercase;
}
.dark {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.box {
  position: relative;
}
.box p {
  position: absolute;
  color: var(--mainBlack);
  font-weight: bold;
  padding: 2rem;
  background: rgba(241, 238, 238, 0.884);
  border-radius: 50%;

  left: 60%;
  top: 60%;
}
/* .slider-box img {
  transform: scale(1.3);
} */
@media screen and (min-width: 768px) {
  .grid-text {
    font-size: var(--mediumFont);
  }
  .left-grid {
    display: flex;
    flex-direction: column;
    /* Footer */
    .footer {
      background: var(--mainBlack);
      padding: 6rem 2rem;
      color: var(--mainWhite);
    }
    .footer h4 {
      font-size: 1.8rem;
      margin-bottom: 2rem;
      text-transform: uppercase;
    }
    .summary {
      background: var(--mainBlack);
      border-bottom: solid 0.1rem var(--secondaryColor);
      padding: 0 0 6rem 0;
      color: var(--mainWhite);
      max-width: 1170px;
      margin: 0 auto;
    }
    .follow-links-footer {
      display: flex;
      list-style-type: none;
    }
    .follow-links-footer .follow-icon-footer {
      color: var(--mainWhite);
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .follow-links-footer .follow-icon-container-footer1 {
      background: #3b5998;
      padding: 0.3rem 0.3rem;
      border-radius: 0.1rem;
    }
    .follow-links-footer .follow-icon-container-footer2 {
      background: #55acee;
      padding: 0.3rem 0.3rem;
      border-radius: 0.1rem;
    }
    .follow-links-footer .follow-icon-container-footer3 {
      background: #e95950;
      padding: 0.3rem 0.3rem;
      border-radius: 0.1rem;
    }
    .follow-links-footer .follow-icon-container-footer4 {
      background: #007bb5;
      padding: 0.3rem 0.3rem;
      border-radius: 0.1rem;
    }
    .follow-links-footer .follow-icon-container-footer5 {
      background: #04669a;
      padding: 0.3rem 0.3rem;
      border-radius: 0.1rem;
    }
    .follow-container-footer {
      margin: 0 1rem 0 0;
    }
    .footer img {
      width: 14rem;
    }
    .footer-one {
      /* padding: 8rem 0; */
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      grid-gap: 40px;
      justify-content: space-between;
    }
    .footer-contact a {
      text-decoration: none;
      color: var(--mainWhite);
    }
    .footer-contact li {
      margin: 0 0 2rem 0;
      list-style-type: none;
    }
    .last-footer {
      display: flex;
      justify-content: center;
      padding: 6rem 0 0 0;
      text-transform: uppercase;
      align-items: center;
      text-align: center;
    }
    @media screen and (min-width: 768px) {
      .footer-center {
        max-width: 1170px;
        margin: 0 auto;
      }
      .footer-one {
        /* padding: 8rem 0; */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-gap: 40px;
        justify-content: space-between;
      }
      .last-footer {
        display: flex;
        justify-content: center;
        padding: 6rem 0 0 0;
        text-transform: uppercase;
      }
    }
    /* End of Footer */
    justify-content: center;
    text-align: center;
    padding: 0 8rem;
  }
  .right-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0rem 0 0;
  }
  .btn {
    padding: 1rem 4rem;
    border: solid 0.2rem var(--mainBlack);
    margin: 0 1rem;
    text-decoration: none;
    color: var(--mainBlack);
    font-size: 1.6rem;
    background: transparent;
    text-transform: uppercase;
  }
  .dark {
    background: var(--primaryColor);
    color: var(--mainWhite);
  }
  .box {
    position: relative;
  }
  .box p {
    position: absolute;
    color: var(--mainBlack);
    font-weight: bold;
    padding: 4rem;
    background: rgba(241, 238, 238, 0.884);
    border-radius: 50%;
    left: 20%;
    top: 20%;
  }
}
/* end of banner */

/* slider */
.slider-box .box {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  /* height: 400px; */
}
.slider-box img {
  width: 100%;
  /* height: 400px; */
}
/* end of slider */

/* Footer */
.footer {
  /* background: var(--mainBlack); */
  padding: 6rem 2rem;
  color: var(--mainBlack);
}
.footer h4 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.footer-item li {
  padding: 1rem 0;
  list-style: none;
}
.footer-item a {
  text-decoration: none;
  font-weight: bold;
  color: var(--mainBlack);
}
.footer-item span {
  padding: 0 0 0 1rem;
}
.summary {
  /* background: var(--mainBlack); */
  border-bottom: solid 0.1rem var(--secondaryColor);
  padding: 0 0 6rem 0;
  color: var(--mainBlack);
  max-width: 1170px;
  margin: 0 auto;
}
.follow-links-footer {
  display: flex;
  list-style-type: none;
}
.follow-links-footer .follow-icon-footer {
  color: var(--mainWhite);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-links-footer .follow-icon-container-footer1 {
  background: #3b5998;
  padding: 0.3rem 0.3rem;
  border-radius: 0.1rem;
}
.follow-links-footer .follow-icon-container-footer2 {
  background: #55acee;
  padding: 0.3rem 0.3rem;
  border-radius: 0.1rem;
}
.follow-links-footer .follow-icon-container-footer3 {
  background: #e95950;
  padding: 0.3rem 0.3rem;
  border-radius: 0.1rem;
}
.follow-links-footer .follow-icon-container-footer4 {
  background: #007bb5;
  padding: 0.3rem 0.3rem;
  border-radius: 0.1rem;
}
.follow-links-footer .follow-icon-container-footer5 {
  background: #04669a;
  padding: 0.3rem 0.3rem;
  border-radius: 0.1rem;
}
.follow-container-footer {
  margin: 0 1rem 0 0;
}
.footer img {
  width: 14rem;
}
.footer-one {
  /* padding: 8rem 0; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
  justify-content: space-between;
}
.footer-contact a {
  text-decoration: none;
  color: var(--mainBlack);
}
.footer-contact li {
  margin: 0 0 2rem 0;
  list-style-type: none;
}
.last-footer {
  display: flex;
  justify-content: center;
  padding: 6rem 0 0 0;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-center {
    max-width: 1170px;
    margin: 0 auto;
  }
  .footer-one {
    /* padding: 8rem 0; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    justify-content: space-between;
  }
  .last-footer {
    display: flex;
    justify-content: center;
    padding: 6rem 0 0 0;
    text-transform: uppercase;
  }
}
/* End of Footer */

/* product */
.product {
  box-shadow: var(--lightShadow);
}
.img-container img {
  width: 100%;
  transition: var(--mainTransition);
}
/* end of product */

/* product list */
.product-list {
  padding: 6rem 2rem;
}
.product-list-center {
  /* width: 80vw; */
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}
/* end of product list */
