:root {
  font-size: 62.5%;
  --primaryColor: #38304d;
  --secondaryColor: #eeeded;
  --darkGrey: #808080;
  --mainGrey: #fafafa;
  --mainWhite: #ffffff;
  --mainBlack: #444444;
  --mainRed: #fa0202;
  --mainOrange: #f5a700;
  --mainTransition: all 0.5s linear;
  --largeFont: 8rem;
  --mediumFont: 6rem;
  --smallFont: 3rem;
  --mainSpacing: 0.2rem;
  --lineHeight: 1.3;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShodow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* html {
  scroll-behavior: smooth;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* globals */
body {
  padding: 88.24px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--mainWhite);
  overflow-x: hidden;
  color: var(--mainBlack);
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  body {
    padding: 168.73px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--mainWhite);
    overflow-x: hidden;
    color: var(--mainBlack);
    font-size: 1.6rem;
  }
}
/* end of globals */

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  background: var(--mainWhite);
  z-index: 2;
  /* box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849); */
}

.navbar-center {
  max-width: 117rem;
  margin: 0 auto;
}
.first-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: var(--smallFont);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primaryColor);
  letter-spacing: var(--mainSpacing);
}
.navbar-btn {
  background: none;
  border: solid 0.2rem var(--primaryColor);
  border-radius: 0.4rem;
  padding: 0.27rem 0.5rem 0rem 0.5rem;
  outline: none;
}
.navbar-btn-icon {
  font-size: 2rem;
  color: var(--primaryColor);
}
.navbar-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style: none;
}
.navbar-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 2rem;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  text-align: left;
}
.mobile-nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(94, 93, 93, 0.726);
  z-index: 1;
  transition: all 0.1s linear;
  visibility: hidden;
}
.transparent-bcg {
  transition-delay: 0.2s;
  visibility: visible;
}
.mobile-nav {
  position: fixed;
  background: var(--mainWhite);
  width: 100%;
  top: 85px;
  left: 0;
  z-index: 1;
  color: var(--mainBlack);
  box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849);
  transition: all 0.5s linear;
  transform: translateY(-200%);
}
.mobile-nav-item {
  padding: 1rem 0;
}
.mobile-nav-links {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 2rem 6rem;
  text-transform: uppercase;
  list-style-type: none;
}
.mobile-nav-links a {
  text-decoration: none;
  color: var(--primaryColor);
  font-weight: bold;
}
.show-nav {
  transition: all 0.5s linear;
  transform: translateY(0);
}
.navbar-icons {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.navbar-icons a {
  text-decoration: none;
  margin: 0 0 0 2rem;
  color: var(--primaryColor);
}

.navbar-items-icon {
  font-size: 1.8rem;
}
.navbar-single-link {
  background: none;
  padding: 0.5rem 0rem;
  font-size: 1.6rem;
  font-weight: 540;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  color: var(--mainBlack);
  display: flex;
  position: relative;
  white-space: nowrap;
  transition: var(--mainTransition);
  margin: 0 0 0 2rem;
}
.navbar-single-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 2.5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: var(--mainTransition);
  background-color: var(--primaryColor);
}

.navbar-single-link,
.active:after,
.navbar-single-link:hover:after {
  transform-origin: right;
  transform: scale(1);
}
@media screen and (min-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 2rem;
    background: var(--mainWhite);
    z-index: 2;
  }
  .navbar-btn {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .navbar-center {
    max-width: 117rem;
    margin: 0 auto;
  }
  .navbar-links {
    height: auto;
    display: flex;
  }
  .navbar-links a {
    margin: 0 2rem;
    padding: 0.5rem 0;
    font-weight: bold;
    color: var(--primaryColor);
  }
  .navbar-icons {
    display: flex;
    list-style-type: none;
  }
  .navbar-single-link {
    background: none;
    padding: 1rem 0rem;
    font-size: 1.6rem;
    font-weight: 540;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    color: var(--primaryColor);
    display: flex;
    position: relative;
    white-space: nowrap;
    transition: var(--mainTransition);
    margin: 0 0 0 2rem;
  }
  .navbar-icons a {
    text-decoration: none;
    margin: 0 0 0 2rem;
    color: var(--primaryColor);
  }
  .logo {
    font-size: 4rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primaryColor);
    letter-spacing: var(--mainSpacing);
  }
}
/* end of navbar */

/* category */
.category {
  position: fixed;
  top: 52.5px;
  width: 100%;
  padding: 0rem 2rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  z-index: 2;
}
.category-center {
  max-width: 117rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.category-div {
  display: flex;
  justify-content: space-between;
  width: 12rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  background: none;
  color: var(--mainWhite);
  border: none;
  padding: 1rem 0rem;
  outline: none;
}
.category-dropdown {
  position: relative;
}
.category-dropdown-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: var(--mainWhite);
  border-radius: 0.15rem;
  width: 100%;
  top: 102%;
  box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 3;
}
.category-dropdown-content a {
  padding: 0.7rem 0.2rem;
  text-decoration: none;
  color: var(--primaryColor);
  text-transform: capitalize;
  font-size: 1.4rem;
}
.category-dropdown-content a:hover {
  background: var(--secondaryColor);
}
.category-dropdown:hover .category-dropdown-content {
  display: flex;
}
@media screen and (min-width: 768px) {
  .category {
    background: var(--primaryColor);
    color: var(--mainWhite);
    top: 123.75px;
    z-index: 2;
    padding: 0 2rem;
  }
  .category-center {
    max-width: 117rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .category-dropdown {
    position: relative;
  }
  .category-div {
    display: flex;
    justify-content: space-between;
    width: 30rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    background: none;
    border: none;
    color: var(--mainWhite);
    outline: none;
    padding: 1.2rem 0rem;
  }
  .category-dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: var(--mainWhite);
    border-radius: 0.15rem;
    width: 100%;
    top: 102%;
    box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 3;
  }
  .category-dropdown-content a {
    padding: 1rem 0.8rem;
    text-decoration: none;
    color: var(--primaryColor);
    text-transform: capitalize;
    font-size: 1.6rem;
  }
}
/* end of category */
/* hero */

.defaultHero {
  min-height: calc(100vh - 88.24px);
  background: var(--secondaryColor) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .defaultHero {
    min-height: calc(100vh - 168.73px);
    background: var(--secondaryColor) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
  }
}

/* end of hero */

/* banner */
.banner-center {
  /* max-width: 117rem; */
  padding: 4rem 4rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
  /* display: flex;
  justify-content: space-between; */
}
.left-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}
.right-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0 4rem 0 0; */
}
.grid-text {
  font-size: var(--smallFont);
  border-bottom: solid 0.2rem var(--primaryColor);
  padding: 0 0 1rem 0;
  color: var(--primaryColor);
}
.btn-container {
  padding: 2rem 0 0 0;
  display: flex;
  justify-content: center;
}
.btn {
  padding: 0.5rem 2rem;
  border: solid 0.2rem var(--primaryColor);
  border-radius: 0.5rem;
  margin: 0 1rem;
  text-decoration: none;
  color: var(--primaryColor);
  font-size: 1.2rem;
  background: transparent;
  text-transform: uppercase;
}
.dark {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.box {
  position: relative;
}
.box-center {
  position: absolute;
  color: var(--mainBlack);
  font-weight: bold;
  padding: 2rem;
  /* background: rgba(241, 238, 238, 0.884); */
  border-radius: 50%;

  left: 60%;
  top: 60%;
}
.box-center p {
  background: rgba(211, 210, 210, 0.884);
  padding: 3.5rem;
  border-radius: 50%;
  position: relative;
  font-size: 1.4rem;
}
.box-center span {
  position: absolute;
  top: 45%;
  left: 13%;
}

@media screen and (min-width: 768px) {
  .grid-text p {
    font-size: var(--mediumFont);
  }
  .left-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 8rem;
  }
  .right-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0rem 0 0;
  }
  .grid-text {
    font-size: var(--smallFont);
    border-bottom: solid 0.2rem var(--primaryColor);
    padding: 0 0 2rem 0;
    color: var(--primaryColor);
  }
  .btn {
    padding: 1rem 4rem;
    border: solid 0.2rem var(--primaryColor);
    margin: 0 1rem;
    text-decoration: none;
    color: var(--primaryColor);
    font-size: 1.6rem;
    background: transparent;
    text-transform: uppercase;
  }
  .btn-container {
    padding: 4rem 0 0 0;
    display: flex;
    justify-content: center;
  }
  .dark {
    background: var(--primaryColor);
    color: var(--mainWhite);
  }
  .box {
    position: relative;
  }

  .box-center {
    position: absolute;
    color: var(--mainBlack);
    font-weight: bold;
    padding: 4rem;
    /* background: rgba(241, 238, 238, 0.884); */
    border-radius: 50%;
    left: 20%;
    top: 20%;
  }
  .box-center p {
    background: rgba(211, 210, 210, 0.884);
    padding: 5rem;
    border-radius: 50%;
    position: relative;
    font-size: 1.6rem;
  }
  .box-center span {
    position: absolute;
    top: 45%;
    left: 20%;
  }
}
/* end of banner */

/* slider */
.slider-box .box {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  /* height: 400px; */
}
.slider-box img {
  width: 100%;
}
.slider-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .slider-box img {
    width: 80%;
  }
}
/* end of slider */

/* Footer */
.footer {
  padding: 6rem 2rem;
  color: var(--mainBlack);
  background: var(--mainGrey);
}
.footer h4 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.footer-item li {
  padding: 1rem 0;
  list-style: none;
}
.footer-item a {
  text-decoration: none;
  /* font-weight: bold; */
  color: var(--mainBlack);
}
.footer-item span {
  padding: 0 0 0 1rem;
}
.summary {
  border-bottom: solid 0.1rem var(--secondaryColor);
  padding: 0 0 6rem 0;
  color: var(--mainBlack);
  max-width: 1170px;
  margin: 0 auto;
}
.follow-links-footer {
  display: flex;
  list-style-type: none;
  padding: 1rem 0;
}
.follow-links-footer .follow-icon-footer {
  color: var(--mainWhite);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-links-footer .follow-icon-container-footer1 {
  background: #3b5998;
  padding: 0.3rem 0.3rem;
  border-radius: 0.3rem;
}
.follow-links-footer .follow-icon-container-footer2 {
  background: #55acee;
  padding: 0.3rem 0.3rem;
  border-radius: 0.3rem;
}
.follow-links-footer .follow-icon-container-footer3 {
  background: #e95950;
  padding: 0.3rem 0.3rem;
  border-radius: 0.3rem;
}
.follow-links-footer .follow-icon-container-footer4 {
  background: #007bb5;
  padding: 0.3rem 0.3rem;
  border-radius: 0.3rem;
}
.follow-links-footer .follow-icon-container-footer5 {
  background: #04669a;
  padding: 0.3rem 0.3rem;
  border-radius: 0.3rem;
}
.follow-container-footer {
  margin: 0 1rem 0 0;
}
.footer img {
  width: 14rem;
}
.footer-one {
  /* padding: 8rem 0; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
  justify-content: space-between;
}
.footer-contact a {
  text-decoration: none;
  color: var(--mainBlack);
}
.footer-contact li {
  margin: 0 0 2rem 0;
  list-style-type: none;
}
.last-footer {
  display: flex;
  justify-content: center;
  padding: 6rem 0 0 0;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-center {
    max-width: 1170px;
    margin: 0 auto;
  }
  .footer-one {
    /* padding: 8rem 0; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    justify-content: space-between;
  }
  .last-footer {
    display: flex;
    justify-content: center;
    padding: 6rem 0 0 0;
    text-transform: uppercase;
  }
}
/* End of Footer */

/* product */
.product {
  box-shadow: 0.1rem 0.1rem 0.8rem 0.1rem rgba(199, 197, 197, 0.849);
  border-color: transparent;
  border-radius: 0.2rem;
  transition: var(--mainTransition);
}
.product:hover {
  box-shadow: 0.3rem 0.3rem 1rem 0.1rem rgba(122, 121, 121, 0.849);
}
.img-container {
  padding: 1rem;
  position: relative;
  overflow: hidden;
}
/* .img-container-featured {
  padding: 0rem;
  position: relative;
  overflow: hidden;
} */
.img-container:hover .cart-btn {
  transform: translate(-50%, -50%) scale(1);
}
.img-container:hover .cart-btn-details {
  transform: translate(-50%, -50%) scale(1);
}
.img-container:hover img {
  transform: scale(1.1);
}
.img-container img:hover {
  transform: scale(1.1);
}
.img-container img {
  width: 100%;
  border-radius: 0.2rem;
  transition: var(--mainTransition);
}
.product-footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2.2rem;
  /* font-size: 1.7rem; */
  border-top: solid 4px var(--mainGrey);
  transition: var(--mainTransition);
  align-items: center;
}
.product-footer p {
  text-transform: capitalize;
  font-weight: bold;
  margin: 0 4px 0 0;
}
.product-footer h3 {
  font-style: italic;
}
.cart-btn {
  position: absolute;
  top: 50%;
  left: 60%;
  padding: 0.7rem 1rem 0.3rem 1rem;
  font-size: 2rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: none;
  transform: scale(0);
  border-radius: 0.3rem;
  text-transform: capitalize;
  font-weight: bold;
}
.cart-btn-details {
  position: absolute;
  top: 50%;
  left: 40%;
  padding: 0.7rem 1rem 0.3rem 1rem;
  font-size: 2rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: none;
  transform: scale(0);
  border-radius: 0.3rem;
}
.cart-btn:hover {
  background: var(--mainWhite);
  color: var(--mainBlack);
  transition: all 0.7s linear;
}
.cart-btn-details:hover {
  background: var(--mainWhite);
  color: var(--mainBlack);
  transition: all 0.7s linear;
}
/* end of product */

/* product list */
.product-list {
  padding: 6rem 2rem;
}
.product-list-center {
  /* width: 80vw; */
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}
/* end of product list */

/* details */
.details {
  padding: 6rem 2rem;
}
.details-title {
  text-align: center;
  margin: 0 0 3rem 0;
  text-transform: uppercase;
  font-size: 2rem;
}

.details-img {
  display: flex;
  justify-content: center;
}
.details-img-center {
  width: 85%;
}
.details-img img {
  width: 100%;
}
.details-model {
  text-transform: capitalize;
}
.details-made {
  text-transform: capitalize;
}
.details-price {
  text-transform: capitalize;
}
.details-price span {
  font-style: italic !important;
}
.details-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}
.details-center {
  max-width: 1170px;
  margin: 0 auto;
}
.details-btn-container {
  margin: 2rem 0 0 0;
}
.back-product-btn {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  margin: 0 0 0.5rem 0;
  text-transform: capitalize;
}
.add-incart-btn {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  color: var(--mainWhite);
  background: var(--primaryColor);
  text-transform: capitalize;
}
.details-info h5 {
  margin: 0.5rem 0;
}
.details-info h4 {
  margin: 0 0 0.5rem 0;
  text-transform: capitalize;
}

.error {
  padding: 5rem 2rem;
}
.error-center h3 {
  padding: 0 0 3rem 0;
  font-size: 3rem;
}
.product-not-found-btn {
  margin: 0;
  padding: 1rem 2rem;
}

@media screen and (min-width: 768px) {
  .error-center {
    max-width: 1170px;
    margin: 0 auto;
  }
  .details-title {
    text-align: center;
    margin: 0 0 3rem 0;
    text-transform: uppercase;
    font-size: var(--smallFont);
  }
  .details-img {
    width: 90%;
  }
  .details-model {
    text-transform: capitalize;
    font-size: 2.5rem;
  }
  .details-made {
    text-transform: capitalize;
    font-size: 2rem;
  }
  .details-price {
    text-transform: capitalize;
    font-size: 2rem;
  }
  .back-product-btn {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    margin: 0 0 0.5rem 0;
    text-transform: capitalize;
  }
  .add-incart-btn {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    color: var(--mainWhite);
    background: var(--primaryColor);
    text-transform: capitalize;
  }
  .details-info h5 {
    margin: 1rem 0;
  }
  .details-info h4 {
    padding: 0 0 1rem 0;
    text-transform: capitalize;
    font-size: 2rem;
  }
}
/* end of details */
/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.modal-contents {
  text-align: center;
  padding: 4rem;
  max-width: 70%;
  margin: 0 auto;
  border-radius: 0.4rem;
}
.modal-contents img {
  width: 100%;
  border-radius: 0.2rem;
}
.modal-contents h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0 0 1rem 0;
}
.modal-contents h5 {
  padding: 0 0 0.5rem 0;
  text-transform: capitalize;
  font-size: 1.8rem;
}
#modal {
  background: var(--mainWhite);
}
@media screen and (min-width: 768px) {
  .modal-contents {
    text-align: center;
    padding: 4rem;
    max-width: 60%;
    margin: 0 auto;
    border-radius: 0.4rem;
  }
  .modal-contents h4 {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0 0 1rem 0;
  }
}
/* end of modal */

/* cart */
.cart {
  padding: 5rem 2rem;
}
.cart-center {
  max-width: 1170px;
  margin: 0 auto;
}
.cart-title {
  display: flex;
  justify-content: center;
  padding: 0 0 2rem 0;
}
.cart-title h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.cart-columns {
  padding: 0 0 2rem 0;
}
.cart-columns-center {
  display: flex;
  justify-content: left;
  text-transform: uppercase;
  font-weight: bold;
  display: none;
}
.cart-item {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  align-items: center;
  text-transform: capitalize;
}
.cart-item-btn {
  padding: 0.5rem 1rem;
  margin: 0.2rem 0.2rem;
  border-radius: 0.4rem;
  border: solid 2px var(--mainBlack);
  cursor: pointer;
  font-weight: bold;
}
.cart-item-btn:hover {
  background: var(--mainBlack);
  color: var(--mainWhite);
}
.cart-item-btn-group {
  padding: 1rem 0;
}
.fa-trash {
  color: var(--mainOrange);
  cursor: pointer;
}
.cart-totals {
  display: flex;
  justify-content: flex-end;
  margin: 5rem 0 0 0;
}
.cart-totals-container {
  background: var(--mainGrey);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.clear-cart-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.cart-totals-container h5 {
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  text-transform: uppercase;
}
.cart-totals-container h5 span {
  letter-spacing: var(--mainSpacing);
  font-style: italic;
}
.btn-danger {
  border-color: var(--mainRed);
  background: var(--mainWhite);
  color: var(--mainRed);
  margin: 0;
  transition: all 0.5s linear;
}
.btn-danger:hover {
  background: var(--mainRed);
  color: var(--mainWhite);
  transition: all 1s linear;
}
.empty-cart h1 {
  font-size: 2.2rem;
}
.empty-cart-msg {
  margin: 0 0 3rem 0;
}
.continue-shopping-btn {
  padding: 1rem;
  text-transform: uppercase;
  margin: 0;
}
.continue-shopping-btn span {
  padding: 0 0.3rem 0 0;
}
.clear-cart-btn {
  padding: 2rem 0;
}
.clear-cart-btn-center {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .cart-columns-center {
    display: flex;
    justify-content: left;
    text-transform: uppercase;
    font-weight: bold;
  }
  .cart-columns-item {
    padding: 0 5rem 0 0;
    width: 100%;
  }
  .cart-totals-container {
    background: var(--mainGrey);
    padding: 4rem;
    display: flex;
    flex-direction: column;
  }
  .cart-title h1 {
    font-size: 4rem;
    text-transform: uppercase;
  }
  .cart-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: unset;
  }
  .cart-item-text {
    padding: 0 5rem 0 0;
    width: 100%;
  }
  .cart-totals-container h5 {
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    text-transform: uppercase;
  }
  .fa-trash {
    color: var(--mainOrange);
  }
  .cart-item-btn {
    padding: 0.8rem 1.3rem;
    margin: 0 0.2rem;
    border: solid 2px var(--mainBlack);
    font-weight: bold;
  }
  .cart-item-btn-group {
    padding: 0 0;
  }
  .hidden-on-desk {
    display: none;
  }
  .empty-cart h1 {
    font-size: var(--smallFont);
  }
  .empty-cart-msg {
    margin: 0 0 3rem 0;
  }
  .continue-shopping-btn {
    padding: 1.5rem;
    text-transform: uppercase;
    margin: 0;
  }
  .continue-shopping-btn span {
    padding: 0 0.5rem 0 0;
  }
  .clear-cart-btn-center {
    display: flex;
    justify-content: flex-start;
  }
}
/* end of cart */
/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin: 4rem auto;
  list-style-type: none;
  outline: none;
}
.pagination > .active > a {
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  border-color: var(--primaryColor);
}
.pagination > li > a {
  border: solid 1px var(--mainBlack);
  padding: 0.5rem 1rem;
  margin: 0 0.1rem;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background: var(--primaryColor);
  border-color: var(--mainBlack);
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: var(--primaryColor);
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-radius: 3px 0 0 3px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0 3px 3px 0;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  color: var(--mainBlack);
}
/* end of pagination */
/* loading */
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 2rem 0;
  text-transform: capitalize;
  color: var(--primaryColor);
}
/* end of loading */
/* paypal */
.paypal-btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  z-index: 0;
}
/* end of paypal */

/* not found */
.not-found {
  padding: 6rem 2rem;
}
.not-found-center {
  max-width: 1170px;
  margin: 0 auto;
}
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: var(--mainOrange); */
}
.not-found-container h1 {
  font-size: var(--mediumFont);
}
.not-found-url {
  padding: 0 1rem;
  color: var(--mainRed);
  font-style: italic;
}
/* end of not found */

/* about me */
.about {
  padding: 6rem 2rem;
}

.about-text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.about-text {
  margin: 0 0 1.3rem 0;
}
.about-text h4 {
  text-transform: uppercase;
  padding: 0 0 2rem 0;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.about-text-div p {
  margin: 0 0 2rem 0;
}

@media screen and (min-width: 768px) {
  .about-center {
    max-width: 1170px;
    margin: 0 auto;
  }
  .about-text {
    margin: 0 0 2rem 0;
  }
  .about-text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
  }
  .about-text h4 {
    text-transform: uppercase;
    padding: 0 0 2rem 0;
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }
}
/* end of about me */

/* contact section */
.contact {
  padding: 6rem 2rem;
  align-content: center;
  align-items: center;
}
.contact-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 9rem 0;
}
.contact-div > div {
  font-size: 2rem;
  border: 0.3rem solid var(--mainBlack);
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  margin: 0 0 3rem 0;
  transition: all 0.3s linear;
}

.contact-div > div:hover {
  /* padding: 1rem 2rem; */
  transform: scale(0.9);
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.contact-div > div:hover span {
  color: var(--mainWhite);
}
.contact-span {
  color: var(--primaryColor);
  text-transform: capitalize;
  padding: 0 1rem 0 0;
  font-weight: bold;
}
.contact-span:hover {
  color: var(--mainWhite);
}
@media screen and (min-width: 768px) {
  .contact-center {
    max-width: 1170px;
    margin: 0 auto;
  }

  .contact-div > div {
    font-size: 2rem;
    border: 0.3rem solid var(--mainBlack);
    border-radius: 0.5rem;
    padding: 3rem 4rem;
    margin: 0 0 4rem 0;
    transition: all 0.3s linear;
  }

  .contact-div > div:hover {
    /* padding: 2rem 3rem; */
    transform: scale(0.95);
    background: var(--primaryColor);
    color: var(--mainWhite);
  }
  .contact-div > div:hover span {
    color: var(--mainWhite);
  }
  .contact-span {
    color: var(--primaryColor);
    text-transform: capitalize;
    padding: 0 1rem 0 0;
    font-weight: bold;
  }
}
/* end of contact section */
/* title */
.section-title {
  text-align: center;
  margin-bottom: 5rem;
}
.section-title h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 4rem 0 0 0;
  color: var(--primaryColor);
}

.title-div {
  width: 4rem;
  height: 0.3rem;
  margin: 0 auto;
  background: var(--primaryColor);
  /* display: none; */
}

@media screen and (min-width: 768px) {
  .section-title h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding: 0;
  }
  .title-div {
    width: 7rem;
    height: 0.5rem;
    margin: 0 auto;
    background: var(--primaryColor);
    /* display: none; */
  }
}
/* end of title */

/* free shipping */
.free-shipping {
  padding: 4rem;
  background: var(--primaryColor);
  color: var(--darkGrey);
}
.free-shipping-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.free-shipping-title {
  font-size: 2rem;
  text-transform: uppercase;
}
.free-shipping-title strong {
  color: var(--mainWhite);
}
.free-shipping-subtitle {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .free-shipping-title {
    font-size: 4rem;
    text-transform: uppercase;
  }
  .free-shipping-subtitle {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-top: 1rem;
  }
}
/* end of free shipping */
/* featured */
.featured {
  padding: 5rem 2rem;
}
.featured-center {
  max-width: 1170px;
  margin: 0 auto;
}
.featured-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
/* end of featured */
/* new arrival */
.new-arr-product {
  position: relative;
}
.new-arr-footer {
  position: absolute;
  left: 60%;
  top: 20%;
}
.new-arr-footer h3 {
  background: rgba(211, 210, 210, 0.664);
  padding: 3.5rem;
  border-radius: 50%;
  position: relative;
  font-size: 1.4rem;
}
.new-arr-footer span {
  position: absolute;
  top: 45%;
  left: 13%;
}
/* end of new arrival */

/* search form */
.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form-btn {
  background: var(--mainGrey);
  color: var(--primaryColor);
  border: none;
  border-radius: 0 0.3rem 0.3rem 0;
  font-size: 1.2rem;
  padding: 0.3rem 0.3rem 0 0.3rem;
  outline: none;
  cursor: pointer;
}
.search-form input {
  background: none;
  color: var(--mainWhite);
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
}
::placeholder {
  color: var(--mainWhite);
  text-transform: uppercase;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .search-form-btn {
    background: var(--mainGrey);
    color: var(--primaryColor);
    border: none;
    border-radius: 0 0.3rem 0.3rem 0;
    font-size: 1.6rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
    outline: none;
    cursor: pointer;
  }
  .search-form input {
    background: none;
    color: var(--mainWhite);
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
  }
  ::placeholder {
    color: var(--mainWhite);
    text-transform: uppercase;
    font-size: 1.6rem;
  }
}
/* end of search form */
/* category form */
.category-link {
  background: none;
  color: var(--mainWhite);
  width: 100%;
  text-decoration: none;
}

.category-form option {
  background: var(--mainWhite);
  color: var(--primaryColor);
}

.sort-look {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0 0 3rem 0; */
  outline: none;
  width: 100%;
}

.option-text {
  text-transform: uppercase;
}

.form-control {
  /* padding: 0.5rem 0.2rem; */
  width: 100%;
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: none;
  font-size: 1.2rem;
  outline: none;
  text-transform: uppercase;
}

.sort-look option {
  font-size: 1.2rem;
  color: var(--primaryColor);
  padding: 2rem;
  border: none;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .form-control {
    /* padding: 0.5rem 0.2rem; */
    width: 100%;
    background: var(--primaryColor);
    color: var(--mainWhite);
    border: none;
    font-size: 1.6rem;
    outline: none;
    text-transform: uppercase;
  }

  .sort-look option {
    font-size: 1.6rem;
    color: var(--primaryColor);
    padding: 2rem;
    border: none;
    border-radius: 4px;
  }
}
/* end of category form */

/* category page */
.category-page {
  padding: 6rem 2rem;
}
.category-page-center {
  max-width: 1170px;
  margin: 0 auto;
}

.category-page-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
/* end category page */
/* count-up */
.count-up {
  padding: 2rem 0 0 0rem;
  /* background: var(--primaryColor); */
}
.category-page-center {
  max-width: 1170px;
  margin: 0 auto;
}
.count-up-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 2rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--primaryColor);
  /* background: var(--mainGrey); */
  /* text-align: center; */
}
.count-up-card small {
  text-transform: uppercase;
  font-weight: bold;
}
.count-up-car div {
  display: flex;
}
.count-up-fig {
  font-size: 4rem;
  display: flex;
}
.count-up-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}

@media screen and (min-width: 768px) {
  .count-up {
    padding: 2rem 0 0 0rem;
  }
  .count-up-fig {
    font-size: 5.5rem;
    display: flex;
  }
  .count-up-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row-gap: 4rem;
    grid-column-gap: 4rem;
  }
}

/* end of count-up */
